$background: #0f021e;
$surface: #140628;
$surface-alt: #0d051a;

$border: #4a2180;

$primary: #ff5277;
$secondary: #ff9d00;

$text: #e0d8f0;
$text-muted: #a48bbd;

$foreground-strong: #ffffff;

@import "../base";
