$background: #2e3440;
$surface: #3b4252;
$surface-alt: #434c5e;

$border: #4c566a;

$primary: #88c0d0;
$secondary: #81a1c1;

$text: #eceff4;
$text-muted: #d8dee9;

$foreground-strong: #ffffff;

@import "../base";